@import "themes/default/variables";

//@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

html, body {
  background-color: $brand-darken;
}
h1,h2,h3,h4,h5,p,li,label {
  color: $white;
}

.bar-diagramm > li{
  margin: 8px 0;
  height: 24px;
}

.container {
  margin-top: 120px;
}


h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h5 {
  color: $grey;
  font-size: 13px;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
}
ul.col {
  margin: 0;
  padding: 0;

}


a {
  color: $brand-primary;
  transition: all 1s;
}
a:hover {
  color: $grey;
}

// BUTTON

.btn {
  cursor: pointer;
}
.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
}
.btn-primary:hover {
  background-color: $brand-dark;
}
.bg-faded {
  background-color: #131b21;

  a,span {
    color: $grey!important;
  }

  a:hover {
    text-decoration: underline!important;
  }
  .active a {
    text-decoration: underline!important;
  }

  .dropdown-menu {
    background-color: $brand-dark!important;

    .dropdown-item:hover {
      background: none!important;
    }
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  .container {
    margin-top: 0;
  }
  nav {

    .user {
      padding-top: 5px;

    }
    span {
      color: #34495e;
    }
  }
  .dropdown {
    img {
      width: 30px;
      border-radius: 20px;
      margin-right: 10px;
    }
  }
}

.alert {
  * {
    color: #34495e;
  }
}


// SEARCH
.searchResult {
  margin-bottom: 20px;

  span {
    cursor: pointer;
  }

  .profile {
    margin-right: 15px;
  }
}
.searchResult.box {
  margin-bottom: 5px;
}

// POSTS
.feed {
  margin-top: 40px;
}
.post {
  padding: 10px;
  margin-bottom: 10px;

  img {
    margin: 10px 0;
    width: 100%;
  }
}
.uid {
  display: none;
}
.activity {
  width: 100%;
}

.limit {
  .active {
    font-weight: bold;
  }
  span {
    color: white;
    cursor: pointer;
    margin-right: 15px;
  }
}

ul{
  padding-left: 0;
  list-style:none;
}
li{
  margin: 8px 0;
}

.box{
  background-color: $brand-dark;
  padding: 20px;
  margin: 0 5px;

  h2 {
    font-size: 28px;
    margin-top: 25px;
    line-height: 1.5;
  }

  li,p,span{
    color: $white;
  }

}


// Icons



.icon{
  background-size: contain;
  padding:0 0 0 40px;
  background-repeat: no-repeat;

}
.icon:hover{
  cursor: url("../img/cursor/hammer.cur"), auto;
}
.icon:active{
  cursor: url("../img/cursor/hammerdown.cur"), auto;
}
.icon.large{
  font-size:2em;
}

.like{
  background-image: url("../img/icons/facebook-like.svg");
}
.love{
  background-image: url("../img/icons/facebook-love.svg");
}
.haha{
  background-image: url("../img/icons/facebook-haha.svg");
}
.wow{
  background-image: url("../img/icons/facebook-wow.svg");
}
.sad{
  background-image: url("../img/icons/facebook-sad.svg");
}
.angry{
  background-image: url("../img/icons/facebook-angry.svg");
}
.noreaction{
  background-image: url("../img/icons/facebook-noreaction.svg");
}

.fade.in{
  opacity: 1;
  transition: all 1s;
}


//Accordion
.collapsed {
  display: block;
}



//Input
.form-control {
  background-color: $brand-dark;
  color: $grey;
}
.form-control:focus {
  background-color: $brand-darken;
  border-color: $brand-primary;
  color: $brand-primary;
}

.legend {
  margin: 0 5px;
}
hr {
  border-color: $grey;
}


//Search

.darken {
  background-color: #131b21;
}

.fbinfo {

  h4 {
    margin: 20px 0;
  }

}

.feed {

  .feedsettings {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .fav {
    cursor: pointer;

    i {
      font-size: 24px;
      margin-right: 10px;
      position: relative;
      top: 2px;
    }
  }
  .fav.liked, .fav:hover {
    color: $brand-primary;
  }

  .reactions {
    ul {
      li {
        display: inline;
        margin-right: 20px;
      }
      .icon{
        padding:0 0 0 25px;
      }

    }
  }


  .timeline {
    h3 {
      margin-top: 40px;
    }
  }


  img {
    width: 100%;
  }
}

