@import "themes/default/variables";

//@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

html, body {
  background-color: #34495e;
}
* {
  color: $white;
}

header {
  .container {
    margin-top: 0;
  }
  nav {

    .user {
      padding-top: 5px;

    }
    span {
      color: #34495e;
    }
  }
  .dropdown {
    img {
      width: 30px;
      border-radius: 20px;
      margin-right: 10px;
    }
  }
}

.alert {
  * {
    color: #34495e;
  }
}
.container {
  margin-top: 60px;
}


// SEARCH
.searchResult {
  margin-bottom: 20px;

  span {
    cursor: pointer;
  }

  .profile {
    margin-right: 15px;
  }
}


// POSTS
.feed {
  margin-top: 40px;
}
.post {
  padding: 10px;
  background-color: $brand-primary;
  margin-bottom: 10px;

  img {
    margin: 10px 0;
    width: 100%;
  }
}

