@import "themes/default/variables";
//@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "themes/default/default";

html, body {
  background-color: $brand-darken;
  margin-bottom: 20px;

}

body {
  min-height: 100vh;
  position: relative;

}

h1, h2, h3, h4, h5, p, li, label {
  color: $white;
}

p, a {
  i {
    margin-right: 10px;
  }
}
.hide {
  display: none;
}

.reaction li {
  display: flex;
}

.reaction span {
  text-align: right;
  //geht net go karsten
}

.reaction i {
  background-position-x: center;
}

.reaction {
  li {
    margin: 8px 0;
    height: 24px;

    .col-md-8 {
      background-color: $brand-darken;
      margin-left: 9px;
    }
    .col-md-1, .col-md-2, .col-md-8 {
      padding: 0px;
    }

    div {
      height: 100%;
      text-align: right;
    }
    div.love {
      background-color: $chart-color-love;
    }
    div.haha {
      background-color: $chart-color-haha;
    }
    div.wow {
      background-color: $chart-color-wow;
    }
    div.sad {
      background-color: $chart-color-sad;
    }
    div.angry {
      background-color: $chart-color-angry;
    }
    span.love {
      color: $chart-color-love;
    }
    span.haha {
      color: $chart-color-haha;
    }
    span.wow {
      color: $chart-color-wow;
    }
    span.sad {
      color: $chart-color-sad;
    }
    span.angry {
      color: $chart-color-angry;
    }
  }
}

.search-logo {
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
  }
}

.container {
  margin-top: 120px;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h5 {
  color: $grey;
  font-size: 13px;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
}

ul.col {
  margin: 0;
  padding: 0;

}

a {
  color: $brand-primary;
  transition: all 1s;
}

a:hover {
  color: $grey;
}

// BUTTON

.btn {
  cursor: pointer;
}

.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.btn-primary:hover {
  background-color: $brand-dark;
}

.bg-faded {
  background-color: #131b21;

  a, span {
    color: $grey !important;
  }

  a:hover {
    text-decoration: underline !important;
  }
  .active a {
    text-decoration: underline !important;
  }

  .dropdown-menu {
    background-color: $brand-dark !important;

    .dropdown-item:hover {
      background: none !important;
    }
  }
}

header {


  .container {
    margin-top: 0;
  }
  nav {

    .user {
      padding-top: 5px;

    }
    span {
      color: #34495e;
    }
  }
  .dropdown {
    img {
      width: 30px;
      border-radius: 20px;
      margin-right: 10px;
    }
  }
}

.alert {
  * {
    color: #34495e;
  }
}

// SEARCH
.searchResult {
  margin-bottom: 20px;

  img {
    width:auto!important;
  }
  span {
    cursor: pointer;
  }

  .profile {
    margin-right: 15px;
  }
}

.searchResult.box {
  margin-bottom: 5px;
}

// POSTS
.feed {
  margin-top: 40px;
}

.post {
  padding: 10px;
  margin-bottom: 10px;
  min-height:310px;

  img {
    margin: 10px 0;
    width: 100%;
  }
}

.uid {
  display: none;
}

.activity {
  width: 100%;
}

.limit {
  .active, span:hover {
    font-weight: bold;
    color: $brand-primary;
  }
  span {
    color: white;
    cursor: pointer;
    margin-right: 15px;
  }
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  margin: 8px 0;
}

.box {
  background-color: $brand-dark;
  padding: 20px;
  margin: 0 5px;

  h2 {
    font-size: 28px;
    margin-top: 25px;
    line-height: 1.5;
  }

  img {
    width: 100%;
  }
  li, p, span {
    color: $white;
  }

}

// Icons

.icon {
  background-size: contain;
  padding: 0 0 0 30px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 999;

}

/*
.icon:hover {
  cursor: url("../img/cursor/hammer.cur"), auto;
}

.icon:active {
  cursor: url("../img/cursor/hammerdown.cur"), auto;
}
*/
.icon.large {
  font-size: 2em;
}

.icon.like {
  background-image: url("../img/icons/facebook-like.svg");
}

.icon.love {
  background-image: url("../img/icons/facebook-love.svg");
}

.icon.haha {
  background-image: url("../img/icons/facebook-haha.svg");
}

.icon.wow {
  background-image: url("../img/icons/facebook-wow.svg");
}

.icon.sad {
  background-image: url("../img/icons/facebook-sad.svg");
}

.icon.angry {
  background-image: url("../img/icons/facebook-angry.svg");
}

.noreaction {
  background-image: url("../img/icons/facebook-noreaction.svg");
}

.fade.in {
  opacity: 1;
  transition: all 1s;
}

//Accordion
.collapsed {
  display: block;
}

//Input
.form-control {
  background-color: $brand-dark;
  color: $grey;
  border-color: $brand-primary;
}

.form-control:focus {
  background-color: $brand-darken;
  color: $brand-primary;
  border-color: $brand-primary;
}



.dashboard-search-button {
  border-radius: 5px;
}

.legend {
  margin: 0 5px;
}

hr {
  border-color: $grey;
}

//Search

.last-search {
  background-color: $brand-dark;
  a {
    color: $white;
  }
  .fa-search{
    color: $input-bg;
  }
}


.darken {
  background-color: #131b21;
}

.fbinfo {

  h4 {
    margin: 20px 0;
  }

}

.feed {

  .feedsettings {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .fav {
    cursor: pointer;

    i {
      font-size: 24px;
      margin-right: 10px;
      position: relative;
      top: 2px;
    }
  }
  .fav.liked, .fav:hover {
    color: $brand-primary;
  }

  .reactions {
    ul {
      li {
        display: inline;
        margin-right: 20px;
      }
      .icon {
        padding: 0 0 0 25px;
      }

    }
  }

  .timeline {
    h3 {
      margin-top: 40px;
    }
  }

  img {
    width: 100%;
  }
}

//FOOTER

.ng-footer{
    z-index:1000;
    position: fixed;
    bottom:0px;
    left:0px;
    background-color: $brand-primary;

  a {
    color: white;
  }
    .container{
      padding: 5px 15px 5px 0;
    .selectbox{
      width: 100%;
      margin-bottom: 0px;
      color: white;
    }
    .col-md-5{
      padding-top: 8px;
    }
    .form-control{
      font-size: 13px;
    }

  }
}
footer {
  position: absolute;
  bottom: 10px;
  width: 100%;

  .container {
    margin-top: 0;
  }

  .footernavi {
    li {
      display: inline;
      margin-left: 20px;
    }
  }
}

// CHART
.sonifier {
  background-image: url("../img/soundwaves_white.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 20px;

  .small {
    text-align: right;
    font-size: 10px;
    color: $grey;
    margin-top: 8px;
  }

  .playSong {
    margin-top: 10px;

    * {
      font-size: 23px;
    }
    i {
      margin-right: 15px;
    }
  }

  .actions {
    a {
      color: $grey;
    }
    p {
      cursor: pointer;
      margin-bottom: 5px;
    }
    p:hover, a:hover {
      color: $brand-primary;

      span {
        color: $brand-primary;
      }
    }
  }


  h3 {
    span {
      margin-left: 15px;
      position: relative;
      top:-4px;
      font-size: 14px
    }
    .icon {
      padding-left: 25px;
    }
  }

  .openAcc {
    position: absolute;
    bottom: 30px;
    right: 0;
  }

}

.playSong.searchPlay {
  font-size: 18px;
}
.searchChart {
  position: absolute!important;
  bottom: 80px!important;
  margin-top: 0!important;



  .col {
    margin: 0 10px!important;

    span {
      color: white;
    }
  }
}
.chart {
  height: 168px;
  position: relative;
  margin-top: 85px;

  .chart-inner {
    height: 100%;
    position: absolute;
    bottom:0;

    .col {
      text-align: center;
      margin: 0 28px;

      span {
        text-align: center;
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: 12px;

      }
    }

    .outer {
      width: 25px;
      border-radius: 15px;
      min-height: 30px;
      position: absolute;
      bottom: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      height: 100%;
      background-color: $brand-darkest;
      right: 0;
    }
    .bar {
      width: 25px;
      border-radius: 15px;
      min-height: 30px;
      position: absolute;
      bottom: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;

    }
    .bar.love {
      background-color: $chart-color-love;
      background-image: url("../img/icons/facebook-love.svg");
    }

    .bar.haha {
      background-color: $chart-color-haha;
      background-image: url("../img/icons/facebook-haha.svg");
    }

    .bar.wow {
      background-color: $chart-color-wow;
      background-image: url("../img/icons/facebook-wow.svg");
    }

    .bar.sad {
      background-color: $chart-color-sad;
      background-image: url("../img/icons/facebook-sad.svg");
    }

    .bar.angry {
      background-color: $chart-color-angry;
      background-image: url("../img/icons/facebook-angry.svg");
    }
  }
}

//Collapse Open
.poststats {
  .entry {
    border-bottom: 1px solid $grey;
    padding: 15px 0;

    i {
      cursor: pointer;
    }
    i:hover {
      color: $brand-primary;
    }
  }
}

//Settings
.selectbox{
  width: 400px;
  margin-bottom: 15px;
}

.emoticons-settings li{
  margin-right: 11px;
}

.likes{
  font-size: 14px;
}

.lastpost{
  color: #ff9800;
  margin-left: 32px;
  cursor:pointer;
}

.fa-caret-down{
  padding-left: 10px;
}

.favorit{
  margin-bottom: 5px;
}

.lightbox.red {
  background-color: #ed5168;
}
.lightbox.yellow {
  background-color: #ffda6b;
}

.lightbox.love {
  background-color: $chart-color-love;
}
.lightbox.haha {
  background-color: $chart-color-haha;
}
.lightbox.wow {
  background-color: $chart-color-wow;
}
.lightbox.sad {
  background-color: $chart-color-sad;
}
.lightbox.angry {
  background-color: $chart-color-angry;
}

.lightbox {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999999;
  transition: all 1s;

  h1 {
    font-weight: bold;
    font-size: 120px;
  }

  h2 {
    margin-top: -10px;
    text-transform: uppercase;
    font-size: 18px;
  }

  .emoji {
    width: 300px;
    height:300px;
    margin: 0 auto;
    background-color:transparent!important;

  }

}


//Compare
.result-margin{
  margin-bottom: 20px;

}
.compare-results{
  font-size: 18px;
  h3{
    margin-top: 5px;
  }
}
.compare-box{
  color: white;
  margin-top: 13px;

  .col{
    padding:0px;
  }
}
.compare-emoticons{
  text-align: center;
  margin-top: 56px;
  font-size: 32px;

  .compare-bar-calc{
    width: calc(50% - 15px);
    position: relative;
  }

  .outerLeft {
    background-color: $brand-darkest;
    width: 100%;
    position: absolute;
    height: 30px;
    right: -15px;
    margin-top: 5px;
    border-radius: 25px 0 0 25px;
  }
  .outerRight {
    background-color: $brand-darkest;
    width: 100%;
    position: absolute;
    height: 30px;
    left: -15px;
    margin-top: 5px;
    border-radius: 0 25px 25px 0;
  }
}

.emoticons-number p{
  padding-bottom: 6px;
}

.compare-bar{
  height: 30px;
}

.compare-bar-left{
  float: right;
  border-radius: 25px 0 0 25px;
}
.compare-bar-right{
  border-radius: 0 25px 25px 0;
}


.emoticons-number{
  margin-top: 22px;
  padding-left: 30px;
}

.emoticons-number-left{
  text-align: right;
}

span{
  cursor:pointer;
}

select{
  cursor:pointer;
}
.footernavi li{
  cursor:pointer;
  a{
    cursor:pointer;
  }
}