section(ng-controller="compareCtrl")
    .row
        .col-md-2
        .col-md-8
            .text-center.search-logo
                    img(src="/img/socialsound_logo.png")

    .row(style="margin-top: 50px; margin-bottom: 100px")
        .col-md-5
            form.result-margin(ng-submit="searchUserOne()")
                    div.input-group
                        input.form-control(type='text', required, ng-focus="openCollapse('lastsearchs')", ng-blur="closeCollapse('lastsearchs')",ng-model="queryOne.name" placeholder='1. Facebook Seite suchen...')
                        span.input-group-btn
                            button.btn.btn-primary(type='submit')
                                i.fa.fa-search

            .row
                .col-md-12(ng-show="searchResultsOne && !dataLeft")
                    .search(ng-show="currentWindowOne == 'SearchList'")
                        .searchResult.box(ng-repeat="search in searchResultsOne")
                            .row
                                .col-md-6
                                    span {{search.name}}

                                .col-md-4
                                    p.icon.like {{search.fan_count| number:0}}

                                .col-md-2
                                    span.btn.btn-primary.btn-sm(ng-click="changeFeed(search.id, 'left')")
                                        i.fa.fa-arrow-right

            .row.compare-results
                .col-md-12.search-results(ng-show="dataLeft")
                    .row
                        .col-md-12(style ='text-align: right')
                            h3(style="margin-top:10px") {{dataLeft.name}}
                            img(style="width:160px;margin-bottom: 15px" ng-src="{{dataLeft.picture.data.url}}")

                            div.compare-box
                                p.playSong(ng-click="sonify(dataLeft.allReactions.total_love, dataLeft.allReactions.total_haha, dataLeft.allReactions.total_wow, dataLeft.allReactions.total_sad, dataLeft.allReactions.total_angry)")
                                    i.fa.fa-play-circle
                                    span Sound wiedergeben
                                p
                                    span.icon.like {{dataLeft.fan_count| number:0}}
                                p
                                    a(ng-href='/app/search/{{dataLeft.id}}')
                                        i.fa.fa-link
                                        | Zur Detailansicht

                                //p Total Reaction: {{dataLeft.total_reaction}}
                                //p Reaction Value: {{dataLeft.total_reactionvalue}}

        .col-md-2
            .row
                .col-md-12.compare-emoticons(ng-show="dataLeft")
                    .row
                        div.compare-bar-calc
                            .outerLeft
                                div.compare-bar.compare-bar-left(ng-show="dataLeft" style='width: calc({{dataLeft.reactionProzent.love}}% + 15px); background-color: #ffa3d3;')
                        div
                            i.icon.love
                        div.compare-bar-calc
                            .outerRight
                                div.compare-bar.compare-bar-right(ng-show="dataRight" style='width: calc({{dataRight.reactionProzent.love}}% + 15px); background-color: #ffa3d3;')

                    .row
                        div.compare-bar-calc
                            .outerLeft
                                div.compare-bar.compare-bar-left(ng-show="dataLeft" style='width: calc({{dataLeft.reactionProzent.haha}}% + 15px); background-color: #fffd00;')
                        div
                            i.icon.haha
                        div.compare-bar-calc
                            .outerRight
                                div.compare-bar.compare-bar-right(ng-show="dataRight" style='width: calc({{dataRight.reactionProzent.haha}}% + 15px); background-color: #fffd00;')

                    .row
                        div.compare-bar-calc
                            .outerLeft
                                div.compare-bar.compare-bar-left(ng-show="dataLeft" style='width: calc({{dataLeft.reactionProzent.wow}}% + 15px); background-color: #38dacd;')
                        div
                            i.icon.wow
                        div.compare-bar-calc
                            .outerRight
                                div.compare-bar.compare-bar-right(ng-show="dataRight" style='width: calc({{dataRight.reactionProzent.wow}}% + 15px); background-color: #38dacd;')
                    .row
                        div.compare-bar-calc
                            .outerLeft
                                div.compare-bar.compare-bar-left(ng-show="dataLeft" style='width: calc({{dataLeft.reactionProzent.sad}}% + 15px); background-color: #949494;')
                        div
                            i.icon.sad
                        div.compare-bar-calc
                            .outerRight
                                div.compare-bar.compare-bar-right(ng-show="dataRight" style='width: calc({{dataRight.reactionProzent.sad}}% + 15px); background-color: #949494;')
                    .row
                        div.compare-bar-calc
                            .outerLeft
                                div.compare-bar.compare-bar-left(ng-show="dataLeft" style='width: calc({{dataLeft.reactionProzent.angry}}% + 15px); background-color: #9a0400;')
                        div
                            i.icon.angry
                        div.compare-bar-calc
                            .outerRight
                                div.compare-bar.compare-bar-right(ng-show="dataRight" style='width: calc({{dataRight.reactionProzent.angry}}% + 15px); background-color: #9a0400;')

        .col-md-5
            form.result-margin(ng-submit="searchUserTwo()")
                    div.input-group
                        input.form-control(type='text', required, ng-focus="openCollapse('lastsearchs')", ng-blur="closeCollapse('lastsearchs')",ng-model="queryTwo.name" placeholder='2. Facebook Seite suchen...')
                        span.input-group-btn
                            button.btn.btn-primary(type='submit')
                                i.fa.fa-search

            .row
                .col-md-12(ng-show="searchResultsTwo && !dataRight")
                    .search(ng-show="currentWindowTwo == 'SearchList'")
                        .searchResult.box(ng-repeat="search in searchResultsTwo")
                            .row
                                .col-md-6
                                    span {{search.name}}

                                .col-md-4
                                    p.icon.like {{search.fan_count| number:0}}

                                .col-md-2
                                    span.btn.btn-primary.btn-sm(ng-click="changeFeed(search.id, 'right')")
                                        i.fa.fa-arrow-right



            .row.compare-results
                .col-md-12.search-results(ng-show="dataRight")
                    .row
                        .col-md-12(style ='text-align: left;')
                            h3(style="margin-top:10px") {{dataRight.name}}
                            img(style="width:160px;margin-bottom: 15px" ng-src="{{dataRight.picture.data.url}}")


                            div.compare-box
                                p.playSong(ng-click="sonify(dataRight.allReactions.total_love, dataRight.allReactions.total_haha, dataRight.allReactions.total_wow, dataRight.allReactions.total_sad, dataRight.allReactions.total_angry)")
                                    i.fa.fa-play-circle
                                    span Sound wiedergeben
                                p
                                    span.icon.like {{dataRight.fan_count| number:0}}
                                p
                                    a(ng-href='/app/search/{{dataLeft.id}}')
                                        i.fa.fa-link
                                        | Zur Detailansicht

                                //p Total Reaction: {{dataLeft.total_reaction}}
                                //p Reaction Value: {{dataLeft.total_reactionvalue}}

include ../../layout/angular-footer
