div(ng-controller="dashboardCtrl")
    h1 Dashboard
    .row.white
        .col-md-2
            //hier durchschleifen
            img(ng-src="{{favData.data.picture.data.url}}" width="100px" height="100px")
            p
                a(href="{{favData.data.link}}" target="blank") {{favData.data.name}}
            p.icon.like {{favData.data.fan_count}}
        .col-md-2
            p Letzten 50 Posts
            ul
                li
                    i.icon.love
                    span {{allReactions.total_love}}
                li
                    i.icon.haha
                    span {{allReactions.total_haha}}
                li
                    i.icon.wow
                    span {{allReactions.total_wow}}
                li
                    i.icon.sad
                    span {{allReactions.total_sad}}
                li
                    i.icon.angry
                    span {{allReactions.total_angry}}
        .col-md-5
            p Letzten 5 Postings
            ul
                li
                    i.icon(ng-class="favData.data.posts.data[0].total_reaction")
                    span {{favData.data.posts.data[0].message | limitTo: 45 }}{{favData.data.posts.data[0].message.length > 20 ? '...' : ''}}
                li
                    i.icon(ng-class="favData.data.posts.data[1].total_reaction")
                    span {{favData.data.posts.data[1].message | limitTo: 45 }}{{favData.data.posts.data[1].message.length > 20 ? '...' : ''}}
                li
                    i.icon(ng-class="favData.data.posts.data[2].total_reaction")
                    span {{favData.data.posts.data[2].message | limitTo: 45 }}{{favData.data.posts.data[2].message.length > 20 ? '...' : ''}}
                li
                    i.icon(ng-class="favData.data.posts.data[3].total_reaction")
                    span {{favData.data.posts.data[3].message | limitTo: 45 }}{{favData.data.posts.data[3].message.length > 20 ? '...' : ''}}
                li
                    i.icon(ng-class="favData.data.posts.data[4].total_reaction")
                    span {{favData.data.posts.data[4].message | limitTo: 45 }}{{favData.data.posts.data[4].message.length > 20 ? '...' : ''}}
        .col-md-3
            canvas(ng-attr-id="myChart0")




