div(ng-controller="dashboardCtrl")
    h1 Dashboard

    .row
        .col.box
            h5 Anzahl Favoriten
            h2 #{user.favorites.length}

        .col.box
            h5 Anzahl Suchanfragen
            h2 #{user.searchQueries.length}


        .col.box
            h5 Letzte Suchanfrage
            h2 #{user.searchQueries[user.searchQueries.length - 1].name}

        .col.box
            h5 Letzter Login
            h2= moment(user.updatedAt).format("DD.MM.YYYY")




    .row(style="margin-top:30px")
        ul.col#accordion
            li(ng-repeat="fav in favData", ng-hide="$index == removeFav.index")
                .collapsed.box
                    .row.sonifier
                        .col-md-3.image.actions
                            img(style="margin-right:30px" ng-src="{{fav.picture.data.url}}")

                            p.playSong(ng-click="sonify(fav.allReactions.total_love, fav.allReactions.total_haha, fav.allReactions.total_wow, fav.allReactions.total_sad, fav.allReactions.total_angry)")
                                i.fa.fa-play-circle
                                span Sound wiedergeben

                        .col-md-6
                            .row
                                .col-md-9.chart
                                    .row.chart-inner
                                        .col.emotions
                                            .outer
                                                .bar.love(style="height: calc({{fav.reactionProzent.love}}% + 13px);")
                                            span.love {{fav.allReactions.total_love| number:0}}
                                        .col
                                            .outer
                                                .bar.haha(style="height: calc({{fav.reactionProzent.haha}}% + 13px);")
                                            span.haha {{fav.allReactions.total_haha| number:0}}

                                        .col
                                            .outer
                                                .bar.wow(style="height: calc({{fav.reactionProzent.wow}}% + 13px);")
                                            span.wow {{fav.allReactions.total_wow| number:0}}

                                        .col
                                            .outer
                                                .bar.sad(style="height: calc({{fav.reactionProzent.sad}}% + 13px);")
                                            span.sad {{fav.allReactions.total_sad| number:0}}

                                        .col
                                            .outer
                                                .bar.angry(style="height: calc({{fav.reactionProzent.angry}}% + 13px);")
                                            span.angry {{fav.allReactions.total_angry| number:0}}

                        .col-md-3
                            p.small Hinzugefügt am: {{fav.date | date:'dd.MM.yyyy'}}
                            h3 {{fav.name}}
                            p.likes.icon.like {{fav.fan_count| number:0}}

                            p.favorit(ng-click='openModal(fav, $index)')(style="margin-top:30px margin-bottom:5px")
                                i.fa.fa-remove
                                span Favorit entfernen

                            a.favorit(ng-href='/app/search/{{fav.id}}')
                                i.fa.fa-link
                                span Zur Detailansicht


                    .row
                        .col-md-2.offset-md-10
                            .button.lastpost(data-target='#index{{$index}}', data-toggle='collapse', data-parent='#accordion', style="margin-right:15px") letzte Posts
                                i.fa.fa-caret-down



                .collapse.box(id="index{{$index}}")
                    .row.poststats
                       .col-md-12
                           .row
                               .col-md-6
                                   h5 Anzahl der Reactions
                               .col-md-6
                                   h5 Letzte Posts

                           .row.entry(ng-repeat="i in [0, 1, 2, 3, 4]")
                               .col-md-6
                                   .row
                                       .col-md-1(ng-click="sonify(fav.posts.data[i].love.summary.total_count,fav.posts.data[i].haha.summary.total_count,fav.posts.data[i].wow.summary.total_count,fav.posts.data[i].sad.summary.total_count, fav.posts.data[i].angry.summary.total_count)")
                                           i.fa.fa-play-circle
                                       .col-md-2
                                           i.icon.love
                                           span {{fav.posts.data[i].love.summary.total_count}}
                                       .col-md-2
                                           i.icon.haha
                                           span {{fav.posts.data[i].haha.summary.total_count}}
                                       .col-md-2
                                           i.icon.wow
                                           span {{fav.posts.data[i].wow.summary.total_count}}
                                       .col-md-2
                                           i.icon.sad
                                           span {{fav.posts.data[i].sad.summary.total_count}}
                                       .col-md-2
                                           i.icon.angry
                                           span {{fav.posts.data[i].angry.summary.total_count}}
                               .col-md-6
                                   a(ng-href="{{fav.posts.data[i].permalink_url}}" target="blank") {{fav.posts.data[i].message | limitTo: 60 }}{{fav.posts.data[i].message.length > 60 ? '...' : ''}}{{fav.posts.data[i].message.length > 1 ? '' : 'Zum Post'}}
    #ModalRemoveFav.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModalRemoveFav', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Favoriten entfernen
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    | Sind sie sicher, dass sie {{removeFav.name}} aus den Favoriten entfernen wollen?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Abbrechen
                    button.btn.btn-danger(ng-click="removeFavorite()") Ja, entfernen

include ../../layout/angular-footer