div(ng-controller="dashboardCtrl")
    h1 Dashboard

    .row
        .col.box
            h5 Anzahl Favoriten
            h2 #{user.favorites.length}

        .col.box
            h5 Anzahl Suchanfragen
            h2 #{user.searchQueries.length}


        .col.box
            h5 Letzte Suchanfrage
            h2 #{user.searchQueries[user.searchQueries.length - 1].name}

        .col.box
            h5 Letzter Login
            h2= moment(user.updatedAt).format("DD.MM.YYYY")



    .row(style="margin-top:30px" ng-show="favData")
        .col-md-4
            h5 Favorit
        .col-md-2
            h5 Likes
        .col-md-2
            h5 Trend
        .col-md-2
            h5 Hinzugefügt am
        .col-md-2
    .row
        ul.col#accordion
            li(ng-repeat="fav in favData", ng-hide="$index == removeFav.index")
                .collapsed.box
                    .row
                        .col-md-4
                            a(ng-href="/app/search/{{fav.id}}")
                                img(style="margin-right:30px" ng-src="{{fav.picture.data.url}}" width="30" height="30")
                                | {{fav.name}}
                        .col-md-2
                            p.icon.like {{fav.fan_count| number:0}}
                        .col-md-2
                            i.icon(ng-class="{'{{fav.total_reaction}}':fav.total_reaction, 'noreaction': fav.total_reaction == null}" ng-click="sonify(fav.allReactions.total_love, fav.allReactions.total_haha, fav.allReactions.total_wow, fav.allReactions.total_sad, fav.allReactions.total_angry)")
                            span {{fav.total_reactionvalue*100| number:2}}%
                        .col-md-2
                            p {{fav.date | date:'dd.MM.yyyy'}}
                        .col-md-2
                            .row.pull-right
                                button.btn.btn-danger.btn-sm(ng-click='openModal(fav, $index)', style="margin-right:10px")
                                    i.fa.fa-minus
                                button.btn.btn-primary.btn-sm(data-target='#index{{$index}}', data-toggle='collapse', data-parent='#accordion', style="margin-right:15px")
                                    i.fa.fa-caret-down
                                a.btn.btn-info.btn-sm(ng-href='/app/search/{{fav.id}}', style="margin-right:15px")
                                    i.fa.fa-external-link




                .collapse.box(id="index{{$index}}")
                    .row.poststats_headline
                        .col-md-5
                            p Letzten 50 Posts
                        .col-md-7
                            p Letzten 5 Postings

                    .row.poststats
                        .col-md-5
                            ul.reaction
                                li
                                    .col-md-2
                                        span.love {{fav.allReactions.total_love| number:0}}
                                    .col-md-1
                                        i.icon.love
                                    .col-md-8
                                        div.love(style="width: {{fav.reactionProzent.love}}%;")
                                li
                                    .col-md-2
                                        span.haha {{fav.allReactions.total_haha| number:0}}
                                    .col-md-1
                                        i.icon.haha
                                    .col-md-8
                                        div.haha(style="width: {{fav.reactionProzent.haha}}%;")
                                li
                                    .col-md-2
                                        span.wow {{fav.allReactions.total_wow| number:0}}
                                    .col-md-1
                                        i.icon.wow
                                    .col-md-8
                                        div.wow(style="width: {{fav.reactionProzent.wow}}%;")
                                li
                                    .col-md-2
                                        span.sad {{fav.allReactions.total_sad| number:0}}
                                    .col-md-1
                                        i.icon.sad
                                    .col-md-8
                                        div.sad(style="width: {{fav.reactionProzent.sad}}%;")
                                li
                                    .col-md-2
                                        span.angry {{fav.allReactions.total_angry| number:0}}
                                    .col-md-1
                                        i.icon.angry
                                    .col-md-8
                                        div.angry(style="width: {{fav.reactionProzent.angry}}%;")

                        .col-md-7
                            ul
                                li
                                    i.icon(ng-class="{'{{fav.posts.data[0].total_reaction}}':fav.posts.data[0].total_reaction, 'noreaction': fav.posts.data[0].total_reaction == null}")
                                    a(ng-href="{{fav.posts.data[0].permalink_url}}" target="blank") {{fav.posts.data[0].message | limitTo: 50 }}{{fav.posts.data[0].message.length > 50 ? '...' : ''}}{{fav.posts.data[0].message.length > 1 ? '' : 'Zum Post'}}
                                li
                                    i.icon(ng-class="{'{{fav.posts.data[1].total_reaction}}':fav.posts.data[1].total_reaction, 'noreaction': fav.posts.data[1].total_reaction == null}")
                                    a(ng-href="{{fav.posts.data[1].permalink_url}}" target="blank") {{fav.posts.data[1].message | limitTo: 50 }}{{fav.posts.data[1].message.length > 50 ? '...' : ''}}{{fav.posts.data[1].message.length > 1 ? '' : 'Zum Post'}}
                                li
                                    i.icon(ng-class="{'{{fav.posts.data[2].total_reaction}}':fav.posts.data[2].total_reaction, 'noreaction': fav.posts.data[2].total_reaction == null}")
                                    a(ng-href="{{fav.posts.data[2].permalink_url}}" target="blank") {{fav.posts.data[2].message | limitTo: 50 }}{{fav.posts.data[2].message.length > 50 ? '...' : ''}}{{fav.posts.data[2].message.length > 1 ? '' : 'Zum Post'}}
                                li
                                    i.icon(ng-class="{'{{fav.posts.data[3].total_reaction}}':fav.posts.data[3].total_reaction, 'noreaction': fav.posts.data[3].total_reaction == null}")
                                    a(ng-href="{{fav.posts.data[3].permalink_url}}" target="blank") {{fav.posts.data[3].message | limitTo: 50 }}{{fav.posts.data[3].message.length > 50 ? '...' : ''}}{{fav.posts.data[3].message.length > 1 ? '' : 'Zum Post'}}
                                li
                                    i.icon(ng-class="{'{{fav.posts.data[4].total_reaction}}':fav.posts.data[4].total_reaction, 'noreaction': fav.posts.data[4].total_reaction == null}")
                                    a(ng-href="{{fav.posts.data[4].permalink_url}}" target="blank") {{fav.posts.data[4].message | limitTo: 50 }}{{fav.posts.data[4].message.length > 50 ? '...' : ''}}{{fav.posts.data[4].message.length > 1 ? '' : 'Zum Post'}}



    #ModalRemoveFav.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModalRemoveFav', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Favoriten entfernen
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    | Sind sie sicher, dass sie {{removeFav.name}} aus den Favoriten entfernen wollen?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Abbrechen
                    button.btn.btn-danger.btn-sm(ng-click="removeFavorite()") Ja, entfernen
