h1 Suche

.section(ng-controller="fbCtrl")

    .row
        .col-md-12

            form(ng-submit="searchUser()")
                .row
                    .col-md-10
                        .form-group
                            input.form-control(type='text', required, ng-model="query.name" placeholder='Facebook page name')
                    .col-md-2
                        button.btn.btn-primary(type='submit') search

        .col-md-12(ng-show="searchResults")
            h3 Search Results
            span.btn.btn-sm.btn-primary(ng-show="currentWindow != 'SearchList'", ng-click="showWindow('SearchList')") Show search results
            .search(ng-show="currentWindow == 'SearchList'")
                .searchResult(ng-repeat="search in searchResults")
                    .card.card-inverse(style='background-color: #333; border-color: #333;')
                        .card-block
                            h3.card-title
                                img.profile(ng-src="{{search.picture.data.url}}")
                                | {{search.name}}
                            p.card-text {{search.category}}
                            p.card-text {{search.fan_count}} Likes

                            input.form-control.date-picker(date-range-picker type='text', ng-model='datePicker.date', options="opts", placeholder="Select date range")

                            span.btn.btn-primary.btn-sm(ng-click="changeFeed(search.id)") show feed


        .feed(ng-show="currentWindow == 'Feed'")
            h4 Start: {{currentDate.start}} - End: {{currentDate.end}}
            .row(ng-repeat=" fb in fbData", emit-last-repeater-element )
                .col-md-6
                    .post
                        p.small {{fb.created_time | date:'dd.MM.yyyy - HH:mm'}} Uhr
                        p {{fb.message}}
                        a(ng-href="{{fb.permalink_url}}", target="blank") Permanentlink
                        img(ng-src="{{fb.full_picture}}")

                        .row
                            .col
                                h5 Love
                                p {{fb.love.summary.total_count}}

                            .col
                                h5 Haha
                                p {{fb.haha.summary.total_count}}

                            .col
                                h5 Wow
                                p {{fb.wow.summary.total_count}}

                            .col
                                h5 Sad
                                p {{fb.sad.summary.total_count}}

                            .col
                                h5 Angry
                                p {{fb.angry.summary.total_count}}
                            hr
                .col-md-6
                    div
                        canvas(ng-attr-id="myChart{{$index}}")



