
.section(ng-controller="fbCtrl")

    .row
        .col-md-2
        .col-md-8
            .text-center.search-logo
                img(src="/img/socialsound_logo.png")
            form(ng-submit="searchUser()")
                .row
                    div.input-group
                        input.form-control(type='text', required, ng-focus="openCollapse('lastsearchs')", ng-blur="closeCollapse('lastsearchs')",ng-model="query.name" placeholder='Facebook Seite eingeben...')
                        span.input-group-btn
                            button.btn.btn-primary(type='submit')
                                i.fa.fa-search
        .col-md-2

        .col-md-2
        .col-md-8.last-search
            .collapse.box.hide(id="lastsearchs")
                p(ng-hide="(currentWindow == 'SearchList' || currentWindow == 'Feed')")
                    .activity.last-search(ng-repeat="activity in lastSearchActivity | orderBy:'-' | limitTo : 4")
                        i.fa.fa-search &nbsp;&nbsp;
                        a(ng-href="/app/search/{{activity.fbID}}")
                            | {{activity.name}}
                            i.small  {{activity.date | date:'dd.MM.yyyy - HH:mm'}}
        .col-md-2


        .col-md-12(ng-show="searchResults", style="margin-top:30px")
            h3
                span Suchergebnisse
                span.btn.btn-sm.btn-primary.pull-right(ng-show="currentWindow != 'SearchList'", ng-click="showWindow('SearchList')") Letzte Suchergebnisse anzeigen

            hr
            .search(ng-show="currentWindow == 'SearchList'", style="margin-top:30px")
                .row.legend
                    .col-md-4
                        h5 Name
                    .col-md-4
                        h5 Kategorie
                    .col-md-4
                        h5 Likes

                .row
                    .col
                        .searchResult.box(ng-repeat="search in searchResults")
                            .row
                                .col-md-4
                                    img.profile(ng-src="{{search.picture.data.url}}", width="30" height="30")
                                    span {{search.name}}

                                .col-md-4
                                    p {{search.category}}
                                .col-md-2
                                    p.icon.like {{search.fan_count| number:0}}

                                .col-md-2
                                    span.btn.btn-primary.btn-sm(ng-click="changeFeed(search.id)") Feed anzeigen








    .feed(ng-if="currentWindow == 'Feed'")
        .row
            .col-md-9
                img(ng-src="{{fbData[0].from.cover.source}}")
                .row.feedsettings
                    .col-md-3
                        label Zeitraum:
                        input.form-control.date-picker(date-range-picker type='text', ng-model='datePicker.date', options="opts", placeholder="Select date range")
                    .col-md-3.limit
                        p Limit:
                        span(ng-click="setLimit(10)", ng-class="{'active': limit == 10}") 10
                        span(ng-click="setLimit(25)", ng-class="{'active': limit == 25}") 25
                        span(ng-click="setLimit(50)", ng-class="{'active': limit == 50}") 50
                        span(ng-click="setLimit(100)", ng-class="{'active': limit == 100}") 100
                    .col-md-6.reactions
                        p Alle Reactions im Zeitraum und Limit
                        ul
                            li.icon.love {{allReactions.total_love}}
                            li.icon.haha {{allReactions.total_haha}}
                            li.icon.wow {{allReactions.total_wow}}
                            li.icon.sad {{allReactions.total_sad}}
                            li.icon.angry {{allReactions.total_angry}}

            .col-md-3.fbinfo(hl-sticky="", offset-top="100")
                img(ng-src="{{fbData[0].from.picture.data.url}}")
                h4 {{fbData[0].from.name}}
                p.icon.like {{fbData[0].from.fan_count}}

                p.fav(ng-click="addToFavorites()", ng-show="!isFav")
                    i.fa.fa-heart-o
                    | Favorisieren
                p.fav.liked(ng-click="removeFavorite()", ng-show="isFav")
                    i.fa.fa-heart
                    | Von Favoritenliste entfernen

                br
                a.btn.btn-primary(href="{{fbData[0].from.link}}" target="blank") Zur Facebook Seite


        .row.timeline(ng-show="fbData.length > 0")

            .col-md-9
                h3 Feed
                hr
                .row(ng-repeat=" fb in fbData", emit-last-repeater-element )

                    .col-md-8
                        .post
                            p.small {{fb.created_time | date:'dd.MM.yyyy - HH:mm'}} Uhr
                            p {{fb.message}}

                            a(ng-href="{{fb.permalink_url}}", target="blank") Permanentlink
                            button(ng-click="sonify(fb.love.summary.total_count, fb.haha.summary.total_count,fb.wow.summary.total_count, fb.sad.summary.total_count, fb.angry.summary.total_count)") sonifizieren
                            img(ng-src="{{fb.full_picture}}")

                            .row
                                .col
                                    h5 Love
                                    p {{fb.love.summary.total_count}}

                                .col
                                    h5 Haha
                                    p {{fb.haha.summary.total_count}}

                                .col
                                    h5 Wow
                                    p {{fb.wow.summary.total_count}}

                                .col
                                    h5 Sad
                                    p {{fb.sad.summary.total_count}}

                                .col
                                    h5 Angry
                                    p {{fb.angry.summary.total_count}}
                                hr
                    .col-md-4
                        ul.reaction
                            li
                                .col-md-8
                                    div.love(style="width: {{fb.reactionProzent.love}}%;")
                            li
                                .col-md-8
                                    div.haha(style="width: {{fb.reactionProzent.haha}}%;")
                            li
                                .col-md-8
                                    div.wow(style="width: {{fb.reactionProzent.wow}}%;")
                            li
                                .col-md-8
                                    div.sad(style="width: {{fb.reactionProzent.sad}}%;")
                            li
                                .col-md-8
                                    div.angry(style="width: {{fb.reactionProzent.angry}}%;")


        .row(ng-show="fbData.length == 0")

            p Keine Daten gefunden! Bitte ändere den Zeitraum