h1 Suche

.section(ng-controller="fbCtrl")

    .row
        .col-md-12

            form(ng-submit="searchUser()")
                .row
                    .col-md-5
                        .form-group
                            input.form-control(type='text', required, ng-model="query.name" placeholder='Facebook page name')
                    .col-md-2
                        button.btn.btn-primary(type='submit') search

        .lastSearch(ng-hide="(currentWindow == 'SearchList' || currentWindow == 'Feed')")
            h5 Letzte Suchanfragen
            .activity(ng-repeat="activity in lastSearchActivity | orderBy:'-' | limitTo : 4")
                p
                    | {{activity.name}}
                    i.small  {{activity.date | date:'dd.MM.yyyy - HH:mm'}}

        .col-md-12(ng-show="searchResults")
            h3 Search Results

            span.btn.btn-sm.btn-primary(ng-show="currentWindow != 'SearchList'", ng-click="showWindow('SearchList')") Show search results
            .search(ng-show="currentWindow == 'SearchList'")
                .searchResult(ng-repeat="search in searchResults")
                    .card.card-inverse(style='background-color: #333; border-color: #333;')
                        .card-block
                            h3.card-title
                                img.profile(ng-src="{{search.picture.data.url}}")
                                | {{search.name}}
                            p.card-text {{search.category}}
                            p.card-text {{search.fan_count}} Likes


                            span.btn.btn-primary.btn-sm(ng-click="changeFeed(search.id)") show feed


    .feed(ng-show="currentWindow == 'Feed'")
        h4 Start: {{currentDate.start}} - End: {{currentDate.end}}
        .row
            .col-md-6
                .form-group
                    input.form-control.date-picker(date-range-picker type='text', ng-model='datePicker.date', options="opts", placeholder="Select date range")

            .col-md-6.limit

                span Limit:
                span(ng-click="setLimit(10)", ng-class="{'active': limit == 10}") 10
                span(ng-click="setLimit(25)", ng-class="{'active': limit == 25}") 25
                span(ng-click="setLimit(50)", ng-class="{'active': limit == 50}") 50
                span(ng-click="setLimit(100)", ng-class="{'active': limit == 100}") 100


        .row(ng-show="fbData.length > 0")
            .col-md-2
                img(ng-src="{{fbData[0].from.picture.data.url}}" width="100px" height="100px")
                p
                    a(href="{{fbData[0].from.link}}" target="blank") {{fbData[0].from.name}} {{fbData[0].from.id}}

                span.btn.btn-warning.btn-sm(ng-click="addToFavorites()", ng-show="!isFav") Favorisieren
                span.btn.btn-danger.btn-sm(ng-click="removeFavorite()", ng-show="isFav") Von Favoritenliste löschen


                p.icon.like {{fbData[0].from.fan_count}}
                p Alle Reactions im Zeitraum und Limit
                ul
                    li.icon.love {{allReactions.total_love}}
                    li.icon.haha {{allReactions.total_haha}}
                    li.icon.wow {{allReactions.total_wow}}
                    li.icon.sad {{allReactions.total_sad}}
                    li.icon.angry {{allReactions.total_angry}}
            .col-md-10
                .row(ng-repeat=" fb in fbData", emit-last-repeater-element )

                    .col-md-6
                        .post
                            p.small {{fb.created_time | date:'dd.MM.yyyy - HH:mm'}} Uhr
                            p {{fb.message}}
                            a(ng-href="{{fb.permalink_url}}", target="blank") Permanentlink
                            button(ng-click="sonify(fb.love.summary.total_count, fb.haha.summary.total_count,fb.wow.summary.total_count, fb.sad.summary.total_count, fb.angry.summary.total_count)") sonifizieren
                            img(ng-src="{{fb.full_picture}}")

                            .row
                                .col
                                    h5 Love
                                    p {{fb.love.summary.total_count}}

                                .col
                                    h5 Haha
                                    p {{fb.haha.summary.total_count}}

                                .col
                                    h5 Wow
                                    p {{fb.wow.summary.total_count}}

                                .col
                                    h5 Sad
                                    p {{fb.sad.summary.total_count}}

                                .col
                                    h5 Angry
                                    p {{fb.angry.summary.total_count}}
                                hr
                    .col-md-6
                        div
                            canvas(ng-attr-id="myChart{{$index}}")
        .row(ng-show="fbData.length == 0")

            p Keine Daten gefunden! Bitte ändere den Zeitraum