section(ng-controller="settingsCtrl")
    h1 Settings
    .row
        .col-md-6
            ul
                li
                    i.icon.large.love(ng-click="sonifyByReaction('love')")
                li
                    i.icon.large.haha(ng-click="sonifyByReaction('haha')")
                li
                    i.icon.large.wow(ng-click="sonifyByReaction('wow')")
                li
                    i.icon.large.sad(ng-click="sonifyByReaction('sad')")
                li
                    i.icon.large.angry(ng-click="sonifyByReaction('angry')")
        .col-md-6
            form.form-horizontal
                fieldset
                        .col-md-6
                            select#selectbasic.form-control(name='selectbasic' ng-change="changeSelectedSound()" ng-model="data.selectedSound")
                                option(ng-repeat="sound in sounds" ng-value="sound.name") {{sound.name}}


