footer.ng-footer
    .container
        .row
            .col-md-5
                ul.footernavi
                    li
                        i.icon.love(ng-click="sonifyByReaction('love')")
                    li
                        i.icon.haha(ng-click="sonifyByReaction('haha')")
                    li
                        i.icon.wow(ng-click="sonifyByReaction('wow')")
                    li
                        i.icon.sad(ng-click="sonifyByReaction('sad')")
                    li
                        i.icon.angry(ng-click="sonifyByReaction('angry')")

            .col-md-2
                form.form-horizontal
                    fieldset
                        select#selectbasic.form-control.selectbox(name='selectbasic' ng-change="changeSelectedSound()" ng-model="data.selectedSound")
                            option(ng-repeat="sound in sounds" ng-value="sound.name") {{sound.name}}
            .col-md-5
                ul.footernavi.pull-right
                    li
                        a.span.small(href="/imprint") © 2017 SonificationApp. All Rights Reserved
                    li.text-right
                        a.small(href="/imprint") Imprint

.lightbox(ng-click="stopPlaying()",ng-show="currentPlay.sound", ng-class="{'love': currentPlay.sound == 'love', 'haha': currentPlay.sound == 'haha', 'wow': currentPlay.sound == 'wow', 'sad': currentPlay.sound == 'sad', 'angry': currentPlay.sound == 'angry'}")

    .container.text-center
        .emoji.icon(ng-class="currentPlay.sound")
        h1(count-to='{{currentPlay[currentPlay.sound]}}', value='0', duration='1', ng-show="currentPlay[currentPlay.sound] != '0'")
        h2 {{currentPlay.sound}}



