header
  nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='/app') SocialSound
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        if user
          li.nav-item(class=(title == 'Dashboard') ? 'active' : undefined)
            a.nav-link(href='/app')
              | Dashboard
          li.nav-item(class=(title == 'Search') ? 'active' : undefined)
            a.nav-link(href='/app/search')
              | Suche

          li.nav-item(class=(title == 'Compare') ? 'active' : undefined)
            a.nav-link(href='/app/compare')
              | Vergleichen

          li.nav-item(class=(title == 'Settings') ? 'active' : undefined)
            a.nav-link(href='/app/settings')
              | Settings

      ul.nav.navbar-nav.ml-auto.w-100.justify-content-end
        if user
          li.user.pull-xs-right.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.photo(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            .dropdown-menu
              a.dropdown-item(href='/account') My Account
              span.divider
              a.dropdown-item(href='/logout') Logout
